<div class="col-md-6">
    <form name="manageCtrl.form" novalidate ng-submit="manageCtrl.save()">
        <div class="form-group">
            <label>
                Nombre
            </label>
            <input type="text" name="name" ng-model="manageCtrl.user.name" required ng-minlength="4"/>
            <div ng-show="manageCtrl.form.name.$error.required" class="alert alert-danger">
                Nombre obligatorio
            </div>
            <div ng-show="manageCtrl.form.name.$error.minlength" class="alert alert-danger">
                Introduzca minimo 4 carácteres
            </div>
        </div>
        <div class="form-group">
            <label>
                Trabajo
            </label>
            <select ng-model="manageCtrl.user.job" name="job" ng-options="item as item for item in manageCtrl.jobs" required>
            </select>
            <div ng-show="manageCtrl.form.job.$error.required" class="alert alert-danger">
                Trabajo obligatorio
            </div>
        </div>
        <div class="form-group">
            <label>
                Fecha de nacimiento
            </label>
            <input type="date" name="birthdate" ng-model="manageCtrl.user.birthdate" required />
            <div ng-show="manageCtrl.form.birthdate.$error.required" class="alert alert-danger">
                Fecha de nacimiento obligatoria
            </div>
        </div>
        <input type="submit" ng-disabled="manageCtrl.form.$valid" value="Guardar"/>

    </form>
</div>
